# Temprory files
.sync/
.trash/
.venv/
.obsidian/
!.obsidian/snippets/
*.out
_*.txt

# Personal
external/salesloop
private/

# Inbox files
inbox.md
books/
literature/
articles/

# Original images, which I want to keep
img_originals/
