# Temprory files
.sync/
.trash/
.venv/
.obsidian/
!.obsidian/snippets/
*.out
_*.txt
broken_links_output.md
orphaned_files_output.md
empty_files.md

# Personal
external/salesloop
private/

# Inbox files
TODO*.md
books/
literature/
articles/

# Original images, which I want to keep
img_originals/
