# Temprory files
.stversions/
.trash/
.venv/
.obsidian/
!.obsidian/snippets/
*.out
_*.txt

# Personal
external/salesloop
private/

# Inbox files
books/
articles/

# Original images, which I want to keep
img_originals/
