body {
  --file-line-width: 960px
}

@media only screen and (max-width: 767px) {
  .modal {
    max-height: 100vh !important;
  }
}

@media only screen and (min-width: 768px) {
  body {
    --font-monospace: monospace, "Fira Code", "Source Code Pro";
    --code-size: 20px;
  }
}

/* TODO: Maybe need to remove in future, spaced-repetiton buttons fix */
.modal {
  max-width: 960px;
}
.modal code[class*='language-'], .modal pre[class*='language-'] {
  font-size: 1rem;
}

.modal code{
  color: var(--code-normal);
  font-size: var(--code-size);
  background-color: var(--code-background);
  vertical-align: baseline;
  -webkit-box-decoration-break: clone;
}
