body {
  --file-line-width: 960px
}

@media only screen and (max-width: 767px) {
  .modal {
    max-height: 100vh !important;
  }
}

@media only screen and (min-width: 768px) {
  body {
    --font-monospace: monospace, "Fira Code", "Source Code Pro";
    --code-size: 20px;
  }
}

/* TODO: Maybe need to remove in future, spaced-repetiton buttons fix */
.modal-container.mod-dim .modal{
  max-width: 768px;
}
#sr-flashcard-view {
  height: auto;
}
.sr-flashcard-response {
  position: relative;
  padding-top: 100px;
}

.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}

.markdown-preview-view ol > li.task-list-item.is-checked {
  text-decoration:none;
  color:var(--text-normal);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]) {
    text-decoration:none;
    color: var(--text-normal);
}
