@media only screen and (max-width: 767px) {
  .modal {
    max-height: 100vh !important;
  }
}

@media only screen and (min-width: 768px) {
  body {
    --font-monospace: monospace, "Fira Code", "Source Code Pro";
    --code-size: 20px;
  }
}
